streamlit
python-dotenv

# LangChain
langchain
langchain-core
langchain-community
langchain-pinecone
langchain-huggingface
langchain-groq

# Pinecone (new official SDK)
pinecone

# Embeddings
sentence-transformers
torch

# Groq LLM API
groq

requests
tqdm
