streamlit
python-dotenv

# Pinecone (compatible with langchain-pinecone)
pinecone-client<3.0.0
langchain-pinecone

# LangChain packages
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq

# Embeddings
sentence-transformers
torch
PyMuPDF
