streamlit
pinecone
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
sentence-transformers
torch
transformers
huggingface-hub
tokenizers
safetensors
numpy
pydantic
pydantic-core
